/* Font import */

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap');


*, html {
    margin: 0;
    padding: 0;
}

/* Fonts */

body {
    font-size: 12pt;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Work Sans';
}

h1 {
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
}

h2 {
    font-size: 1.5rem;
    color: rgb(30, 30, 30);
}

p, i, b, strong, span, figcaption, li {
    font-family: 'Nunito Sans';
}

a {
    text-decoration-color: rgb(50, 50, 50);
    text-decoration-line: underline;
    color: rgb(50, 50, 50);
}

a:hover {
    color: rgb(100, 100, 100);
    text-decoration-color: rgb(100, 100, 100);
}

/* Header */

header {
    position: relative;
    margin-bottom: 2rem;
    width: 100%;
}

header::after {
    position: absolute;
    width: 100%;
    height: 1px;
    content: "";
    background-color: rgb(100, 100, 100);
    bottom: -1rem;
}

header > img {
    position: relative;
    width: 100%;
    border-radius: 15px;
    filter: brightness(.5);
    object-fit: cover;
    object-position: center;
}

header > h1 {
    position: absolute;
    transform: translateY(-150%);
    margin-left: 20px;
    color: rgb(250, 250, 250);
    max-width: 90%;

}

/* Info */

header .info {
    position: relative;
    display: flex;
    margin: 1rem 0;
}

header .info > img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
    filter: brightness(25%);
    margin: 0 20px 0 20px;
} 

/* Body Position */

body {
    width: 50%;
    margin: 1rem auto;
    overflow-x: hidden;

}

main {
    line-height: 1.2;
}

/* Paragraphs */

p {
    margin: 1rem 0 1rem 0;
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
}

/* Article Images */

main > article figure {
    margin-left: 0 1rem;
}

main > article figure img {
    width: 100%;
    border-radius: 15px;
    object-position: center;
    object-fit: cover;
}

main > article figure figcaption {
    font-size: .7rem;
    margin-left: 1rem;
    margin-top: .5rem;
}

/* Lists */

ul, ol { 
    position: relative; 
    margin: 1rem 0rem 0.5rem 0rem;
    padding: 0 0 0 40px;
}

ul li, ol li {
    margin: 1rem 0rem 0rem 0rem;
}

/* Quote */

blockquote {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-size: 1.1rem;
    margin: 1rem 0 1rem 0;
    padding: 1rem;
    width: 80%;
    border-left: 2px solid rgb(100, 100, 100);
}

/* Footer */


